<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration search:require="lucene">
          <mediaIndexing>
            <mimeTypes>
              <includes>
                <patch:delete />
              </includes>
              <includes>
                <mimeType type="Sitecore.ContentSearch.ComputedFields.MediaItemHtmlTextExtractor, Sitecore.ContentSearch">text/html</mimeType>
              </includes>              
            </mimeTypes>
            <extensions>
              <includes>
                <patch:delete />
              </includes>
              <includes/>
            </extensions>
          </mediaIndexing>
        </defaultLuceneIndexConfiguration>
        <defaultSolrIndexConfiguration search:require="solr">
          <mediaIndexing>
            <mimeTypes>
              <includes>
                <patch:delete />
              </includes>
              <includes>
                <mimeType type="Sitecore.ContentSearch.ComputedFields.MediaItemHtmlTextExtractor, Sitecore.ContentSearch">text/html</mimeType>
              </includes>
            </mimeTypes>
            <extensions>
              <includes>
                <patch:delete />
              </includes>
              <includes/>
            </extensions>
          </mediaIndexing>
        </defaultSolrIndexConfiguration>
        <defaultCloudIndexConfiguration search:require="azure">
          <mediaIndexing>
            <mimeTypes>
              <includes>
                <patch:delete />
              </includes>
              <includes>
                <mimeType type="Sitecore.ContentSearch.ComputedFields.MediaItemHtmlTextExtractor, Sitecore.ContentSearch">text/html</mimeType>
              </includes>
            </mimeTypes>
            <extensions>
              <includes>
                <patch:delete />
              </includes>
              <includes/>
            </extensions>
          </mediaIndexing>
        </defaultCloudIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>