<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>
          <mediaIndexing>
            <mimeTypes>
              <includes>
                <patch:delete />
              </includes>
              <includes>
                <mimeType type="Sitecore.ContentSearch.ComputedFields.MediaItemHtmlTextExtractor, Sitecore.ContentSearch">text/html</mimeType>
              </includes>              
            </mimeTypes>
            <extensions>
              <includes>
                <patch:delete />
              </includes>
              <includes/>
            </extensions>
          </mediaIndexing>
        </defaultLuceneIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>